<!DOCTYPE html>
<html>
  <head>
    <title>task manager | <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <h1 >Task Manager</h1>
        <div>
            <a href="/">Home</a>
            <!-- <a href="/create">Users</a> -->
            <a href="/task">Tasks</a>
            <a href="/excel">Get Excel</a>
        </div>
    </nav>
    